*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;

}
button {
    outline: none;
}
/*fix background attachment : fixed on mobile*/

.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
  background-image: url(./images/crowdLogo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/**/
.exportBtn {
    color: white;
    font-weight: bold;
    padding : 5px 7px;
    margin-left:5px;
    margin-right:5px;
    background-color: rgba(3,3,3,0.4);
    border-radius: 5px;
    box-shadow: 1 1 50 black;
    transition: 0.3s;
    letter-spacing: 3px;
}
.exportBtn:hover{
    color:black;
    background-color: rgba(255,255,255,0.7);
}
.exportContainer {
    display: flex;
    width: 100%;
    min-height: 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formExport{
    margin-top: 8px;
}
.formExport button {
    background-color: rgba(3,3,3,0.5);
    border-radius: 5px;
    box-shadow: 1 1 50 black;
    color: white;
    font-weight: bold;
    padding : 5px 7px;
    outline: none;
    margin: 8px 0;
    width: 45%;
    transition: 0.2s;
}
.formExport button:hover{
    color:black;
    background-color: rgba(255,255,255,0.7);
}

/*Tite*/

.title{
    margin-top: 10px;
}

/* add From*/
.addForm{
    margin-top: 1.5rem;

}
.addForm button {
    width: 12%;
    background-color: rgba(3,3,3,0.35);
    border-radius: 5px;
    box-shadow: 1 1 50 black;
    color: black;
    margin-left: 10px;
}
.addForm label {
    padding-left: 10px;

}

/*mains song list*/
.headerListSongs{
    margin-top: 40px;
}
.songDesc{
    width: 100%;
}
.tdSong {
    width: 50%;
}
.tdLength{
    width: 50%;
}
tr:hover {
    color: white;
    background-color: rgba(3,3,3,0.35);
}

@media screen and  (max-width:575px){
    .App {

    }
    /* export and import styles */
    .formExport{
        flex:1;
        margin-top: 8px;

    }
    .formExport button {
        flex:1;
    }
    .exportBtn {
        flex:1;
        margin-top: 8px;
    }
    /* add From*/
    .addForm label {
        display: block;
        width: 100%;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;

    }
    .addForm input{

        width: 70%;
        margin: 5px 10px;
        outline-color: red;
        border: 1px solid black;
    }
    .addForm button {
        width: 40%;
        background-color: rgba(3,3,3,0.35);
        border-radius: 5px;
        box-shadow: 1 1 50 black;
        color: black;
    }
    /* main songs list*/
    .headerListSongs{
        margin-top: 10px;
    }
    .songDesc{
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid black;
    }
    .tdSong {
        width: 70%;
    }
    .tdLength{
        width: 30%;
    }
}
